
/* 기본 세팅  */
*{ box-sizing:border-box; margin:0; padding:0; font-size:100%; font-weight: normal; }
ul, ol, li { list-style:none; }
body { font-family:'Nanum Gothic'; }
a, a:link, a:visited { color:#000; text-decoration:none; }
a:hover, a:active { color:#000; }
img { border:0; }
input { outline:none; }
.container { position:relative; width:1200px; margin:0 auto; overflow:hidden; }
@media(max-width:1220px)
{
  .container { width:100%; }
}


/*header 부분*/
#header .container { border:1px solid black; padding:1%; }
#header .title { font-size:200%; font-weight: bold; text-align: center; }


/*contents 부분*/
#contents .bookmark_area { min-height:500px; width:50%; float:left; border-right:1px solid black; }
#contents .bookmark_area .title { text-align:center; }
#contents .word_area { position:relative; min-height:500px; width:50%; float:left; }
#contents .word_area .title { text-align:center; text-align:center; }
#contents .word_area .list { position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
#contents .word_area .list li { position:relative; }
#contents .word_area .list li input[type="text"] { width:100%; }
#contents .word_area .list li .up_error { color:red; }
#contents .word_area .list li .sup_error { color:red; }
#contents .word_area .button { position:absolute; bottom:0; right:0; overflow:hidden; }
#contents .word_area .page_button_area { position: absolute; width:100%; bottom:5%; overflow:hidden; }
#contents .word_area .page_button_area li { width:8.3332%; float:left; position:relative; }
#contents .word_area .page_button_area li button[type="button"] { width:100%; cursor:pointer; }
#contents .word_area .page_button_area li a { width:100%; display:block; text-align:center; border:1px solid black; }
#contents .word_area .page_button_area .nowPage { background:rgba(43, 43, 43, 0.85); color:#fff; }

/*footer 부분*/
#footer .container { border:1px solid black; }
#footer .making { font-size:150%; font-weight:bold; text-align:center; padding:1%; }
